.scale-element{
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  translation:width 0.3s,height 0.3s,opacity 0.3s;
  border:1px solid black;
}
.closed-scale-ele{
  width:0;
  height:0;
  opacity:0;
  overflow:hidden;
  visible:hidden;
}
.showed-scale-ele{
  width:50vw;
  height:50vh;
  opacity:1;
  background-color:white;
}
.scale-page-close-btn{
  position:absolute;
  top:1%;
  right:1%;
  border:1px solid black;
  border-radius:50%;
  width:50px;
  height:50px;
  font-size:40px;
  font-weight:bold;
  line-height:50px;
  text-align:center;
  background-color:white;
  color:black;
}
.scale-page-close-btn:hover{
  background-color:black;
  color:white;
  box-shadow:0 0 70px rgba(10,10,10,.8);
}
