.text-align-center{
  text-align:center;
  line-height:100%;
}
.text-color-sharking{
  animation:sharking-color-change 0.8s infinite;
  background-color:black;
}
@keyframes sharking-color-change{
  from{color:yellow;}
  50%{color:green;}
  to{color:skyblue;}
}

/*Element Style*/
#mainPage{
  width:80%;
  height:60%;
  border:5px solid black;
  border-radius:50px;
}
