.center{
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  margin:auto;
}
.text-align-center{
  text-align:center;
  line-height:100%;
}
.text-color-sharking{
  animation:sharking-color-change 0.8s infinite;
  background-color:black;
}
@keyframes sharking-color-change{
  from{color:yellow;}
  50%{color:green;}
  to{color:skyblue;}
}

/*Element Style*/
h1{
  font-size:60px;
}
#mainPage{
  width:90%;
  height:90%;
  border:3px solid black;
  border-radius:50px;
  margin:auto;
  background-color:cyan;
}
.adding-iframe{
  width:80%;
  height:80%;
  border:2px solid black;
  z-index:258;
}
.closePageButton{
  width:70px;
  height:70px;
  position:absolute;
  color:red;
  text-align:center;
  line-height:100px;
  border:2px solid black;
  border-radius:50%;
  font-size:50px;
  font-weight:bold;
  z-index:259;
}
