@keyframes fade-in-out{
  from{opacity:0;z-index:255;}
  50%{opacity:1}
  to{opacity:0;z-index:0;}
}
.loadingPage{
  animation:fade-in-out 3s 1 linear forwards;
}
.loadingPage h1{
  text-align:center;
  font-size:40px;
  height:40px;
  width:100%;
}
