@viewport{
  orientation:landscape;
}
html{
  transform:rotate(90deg);
  width:auto;
  height:auto;
  overflow-x:hidden;
  position:absolute;
}
#loadingPage{
  index:0;
}
#homePage{
  background-image:url("./images/background/StartPage.jpg");
  index:2;
}
#gamePage{
  index:1;
}
