@viewport{
  orientation:landscape;
}
html{
  transform:rotate(90deg);
  width:100vh;
  height:100vw;
  overflow-x:hidden;
  position:absolute;
  top:0;
  left:0;
}
#loadingPage{
  index:0;
}
#homePage{
  background-image:url("./images/background/StartPage.jpg");
  index:2;
}
#gamePage{
  index:1;
}
